---
import TableOfContentsHeading from "./TableOfContentsHeading.astro";
import type { Heading } from "@/lib/types";

const { headings } = Astro.props;
const toc = buildToc(headings);

function buildToc(headings: Heading[]) {
  const toc: Heading[] = [];
  const parentHeadings = new Map();
  headings.forEach((h: Heading) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);

    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      parentHeadings.get(heading.depth - 1).subheadings.push(heading);
    }
  });

  return toc;
}
---

<nav
  data-testid="toc"
  class="toc sticky bottom-0 top-24 hidden max-h-screen overflow-y-auto lg:block"
>
  <ul class="ml-6 mt-0">
    {toc.map((heading) => <TableOfContentsHeading heading={heading} />)}
  </ul>
</nav>

<style>
  nav {
    height: calc(100vh - 120px);
  }
</style>
