---
import type { Heading } from "@/lib/types";

interface Props {
  heading: Heading;
}

const { heading } = Astro.props;
---

<li>
  <a href={`#${heading.slug}`} class="my-2 inline-block text-sm">
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-6">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
