---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";
import BlogPostCard from "@/components/BlogPostCard.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);
---

<Layout title="Blog -">
  <Fade client:visible><h1>Blog</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div
      class="grid gap-6 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3 xl:grid-cols-4"
    >
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </Fade>
</Layout>
