---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";
import BlogPostCard from "@/components/pages/blog/BlogPostCard.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);

console.log("posts", posts[0]);
---

<Layout title="Blog -">
  <Fade client:visible><h1>Blog</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div class="grid gap-6">
      {posts.map((post) => <BlogPostCard post={post} />)}
    </div>
  </Fade>
</Layout>
