---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import BlogPostCard from "@/components/pages/blog/BlogPostCard.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);
---

<Layout title="Blog -">
  <h1>Blog</h1>

  <div data-testid="blog-posts" class="grid gap-6">
    {posts.map((post) => <BlogPostCard post={post} />)}
  </div>
</Layout>
