@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html.dark:root {
  color-scheme: dark;
}

html {
  background: white
    linear-gradient(
      0deg,
      rgba(240, 249, 255, 1) 0%,
      rgba(240, 249, 255, 1) 100%
    );
}

html.dark {
  background: #0f172a
    linear-gradient(0deg, rgba(5, 8, 47, 1) 0%, rgba(21, 94, 117, 1) 100%);
}

body {
  font-family: "DM Sans", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  letter-spacing: -0.05em;
}

h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.025em;
}

h3 {
  font-weight: 500;
}

.prose a,
a.link,
.toc a {
  text-decoration: underline;
  transition: text-decoration 200ms ease;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a.link,
.toc a {
  text-decoration: none;
}

main:not(:has(article)) a:hover,
.prose a:hover,
a.link:hover,
.toc a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* external link arrows */
main span {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

article.post img {
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
