@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("/fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: rgb(5, 8, 47);
  background: linear-gradient(
    0deg,
    rgba(5, 8, 47, 1) 0%,
    rgba(6, 182, 212, 1) 100%
  );
  color: white;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAaCAYAAABCfffNAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAH3SURBVEhLrZavT8NAFMdvwy7BNGRiAlmJ3J+BRE4ikZPDIZGTk8j9AZMI5GQlcgkVhEzMELjPW1/zertb28An6d5du3vfez+umxuP8x8u55zaf2eA49niQSarxbNYZbcrBtXwTwwrW6OCYCOzEXOZeSu1yHw2c8X7VsahkHU2Xy65V82EVjERyfPGoihPL8uGODBHFHQzMUGpCQ5up9Pqlne4WonVGvEciqIQm8LW1NZTIpnf3bv125vciMFzaIs4jFRB5Oo4dLUQ9QFdZBcjpNc5bNqGPqwPBrpbC466pkqJRXPSwmE0SmznqWhUSKMRER8NJrpbGiIU7IuIeMVGmBqN7bgUXaKp06XtF6sNdBFMIb2MGsq2z/X0W861uU11+A7kMF56+xl2RaoOKaGwnirEoSRdX0xwah3rqe9CrGFoJm0oRKQu+fUNRoQoZqqgXWpDFDQTSOG92rfMOhJLV2xDpF+F6u4CjQa6dhOpsulCUOur9oKP/b58HI2yBePJ9CiUTyZiqU15OLj1ZuNet1uXZZncV5iXZSlp5nvAHLT4jUigfuP6qBDgi/bsMA53H3Yia1QAGr/hFImOIJdqFTvXNITObbrBrxH/vf4osAksIlYg5Vw5SVcbGgXg3ArgPBSA3iJAvtt2b+mVLo+kK6hViw/nfgEcFwLL85sMOAAAAABJRU5ErkJggg==),
    default;
}

h1 {
  @apply text-center text-4xl font-bold;
}

h2 {
  @apply text-center text-2xl font-medium;
}

a,
button {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAeCAYAAAA2Lt7lAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAEwSURBVEhLzZUtFoJAEMfXj2AwGAwcgUgkGDyAwSMQPICRSDQaiUSjRyAajXsAg4FgMNDQGXcUF9gH6KC/9+bN7IPHzH92dhEmLMvOwNSyFX3l2egpXwAq94I1xlGwRX8+y8r3q2BXUID6HsVxdklTND8M0drsCbuC/0xArarTMnYFQ+UbsdmF6KWU6O9j/FShjzK7gmc26iUdLtu2xdJ1Md4fDuipYngG0DqPfij5FeiVUwXQZ1JAkBIdkxJ2BYPxeBpAsItCMXMccZ2MhDN3xWqxwBfyyNNJRe8kSaKiF8f4oZZdQSEBTAhNyTfoTgFMCBhMjj49n8CuoNFJrsJ0Dgr/2Pz1m09WhunDRHctKqOsbUCdS474nQKonir3PQ+9jn6NA7qS/9iDJnS8B0LcAFzijPYwhg80AAAAAElFTkSuQmCC),
    pointer;
}

label {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAaCAYAAABCfffNAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAH3SURBVEhLrZavT8NAFMdvwy7BNGRiAlmJ3J+BRE4ikZPDIZGTk8j9AZMI5GQlcgkVhEzMELjPW1/zertb28An6d5du3vfez+umxuP8x8u55zaf2eA49niQSarxbNYZbcrBtXwTwwrW6OCYCOzEXOZeSu1yHw2c8X7VsahkHU2Xy65V82EVjERyfPGoihPL8uGODBHFHQzMUGpCQ5up9Pqlne4WonVGvEciqIQm8LW1NZTIpnf3bv125vciMFzaIs4jFRB5Oo4dLUQ9QFdZBcjpNc5bNqGPqwPBrpbC466pkqJRXPSwmE0SmznqWhUSKMRER8NJrpbGiIU7IuIeMVGmBqN7bgUXaKp06XtF6sNdBFMIb2MGsq2z/X0W861uU11+A7kMF56+xl2RaoOKaGwnirEoSRdX0xwah3rqe9CrGFoJm0oRKQu+fUNRoQoZqqgXWpDFDQTSOG92rfMOhJLV2xDpF+F6u4CjQa6dhOpsulCUOur9oKP/b58HI2yBePJ9CiUTyZiqU15OLj1ZuNet1uXZZncV5iXZSlp5nvAHLT4jUigfuP6qBDgi/bsMA53H3Yia1QAGr/hFImOIJdqFTvXNITObbrBrxH/vf4osAksIlYg5Vw5SVcbGgXg3ArgPBSA3iJAvtt2b+mVLo+kK6hViw/nfgEcFwLL85sMOAAAAABJRU5ErkJggg==),
    default;
}

a:focus {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAeCAMAAAAB8C7XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAPUExURRgYKHiYmKDAwPD4+AAAAJeGRxwAAAAFdFJOU/////8A+7YOUwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAGxJREFUKFOd0NEOgCAIhWFE3/+Z45xopk6h2Lr5vyaZtM38B5nfiEBKmegMIlorCMOcBlVyBGKbDRDx2ID2gMyjQBinE2Av+hdQnpQHz2l4XfCeDn7LMQdAG/6UBeY9WH6+zCkC7O/DwLxAaxfDjAZuz7iCjgAAAABJRU5ErkJggg==),
    default;
}

/******* Header ********/
header nav a {
  @apply font-medium tracking-tight text-blue-950 transition;
}

/***** Components ******/
.contrast-link {
  @apply animated-link inline-flex items-center gap-2;
}

.animated-link,
.animated-button span,
.markdown-body a {
  position: relative;
}

.animated-link:after,
.markdown-body a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: white;
  transition: transform 0.15s ease-out;
}

.animated-link:hover:after,
.markdown-body a:hover:after {
  transform: scaleX(1);
}

.markdown-body ul > * + * {
  margin-top: 1.5rem;
}

.markdown-body li {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1rem;
}

.markdown-body li::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' version='1.0' viewBox='0 0 128 128' fill='white'%3E%3Cpath d='M55.5 3.2c-14.1 1.9-25.2 7.5-35.6 17.9C7.6 33.2 1.7 47.6 1.7 65c.1 39.5 36.1 68.6 74.8 60.5 33.3-7 55.1-40.5 48-73.8-6.6-31.2-37.3-52.9-69-48.5zm21.9 9.4c20.1 5.2 36.5 23.3 39.6 43.9 4.4 28.1-14.4 55.1-42.5 61-8.8 1.8-13.2 1.8-21.8 0-19.7-4.1-36.1-19.8-41.2-39-1.9-7.4-1.9-20.3 0-27.4C16.3 33 31.8 17.5 50.1 12.6c7.2-2 19.7-2 27.3 0z'/%3E%3Cpath d='M60.8 26.6c-1.2 1.2-.9 5.1.5 6.1.6.6 3.4 1.3 6 1.7 6.3.8 12.4 3.5 17 7.5 4.5 4 9.7 14.2 9.7 19.1 0 4.9 2.8 8.5 5.8 7.6 2.9-1 3.5-3.6 2.2-10.3-2.3-12.7-10.4-23.2-21.8-28.6-6.3-2.9-17.8-4.8-19.4-3.1z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}

/* Projects */
.project-img {
  border-radius: 51% 49% 63% 37% / 34% 50% 50% 66%;
}

#projects article:first-child {
  animation: bobbing 2s infinite;
}

#projects article:nth-child(2) {
  animation: bobbing 2s 0.5s infinite;
}

#projects article:last-child {
  animation: bobbing 2s 0.75s infinite;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Atropos */
.atropos-scale {
  pointer-events: none;
}

.atropos-rotate {
  pointer-events: all;
}
