---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import Layout from "@/layouts/Layout.astro";

import image from "@/assets/img/404.png";
import { Fade } from "@/components/Fade";
---

<Layout title="404 Page Not Found -">
  <Fade client:visible>
    <section class="flex flex-col gap-10 py-28 sm:h-screen">
      <div class="m-auto flex flex-col gap-6">
        <h1>404 Page Not Found</h1>

        <Image
          src={image}
          alt="sad bird image"
          width="192"
          class="mx-auto h-auto"
          loading="eager"
          fetchpriority="high"
        />

        <h3>
          <a href="/" class="contrast-link">
            Home <Icon pack="tabler" name="arrow-back" class="h-5 w-5" />
          </a>
        </h3>
      </div>
    </section>
  </Fade>
</Layout>
