---
import { Icon } from "astro-icon";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";
---

<Layout title="About -">
  <Fade client:visible><h1>About</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div class="prose max-w-xl dark:prose-invert">
      <p>
        Hi there, I'm a web developer from New Zealand. After studying to be a
        network engineer and working in IT support related roles, I decided to
        become a developer in 2023.
      </p>

      <p>
        In my spare time, I like to read (slowly), run on local tracks, watch
        movies and shows, and play the piano (poorly). I also watch too much
        basketball.
      </p>

      <p>
        This site is built with <a
          href="https://astro.build"
          target="_blank"
          rel="noreferrer noopener nofollow"
          title="Astro"
          ><span class="sr-only">Astro</span><Icon
            name="astro-name"
            class="mt-0.5 inline h-7 dark:hidden"
          /><Icon
            name="astro-name-dark"
            class="dark-logo mt-0.5 inline h-7"
          /></a
        > and
        <a
          href="https://tailwindcss.com"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="mx-1"
          title="Tailwind CSS"
          ><span class="sr-only">Tailwind CSS</span><Icon
            name="tailwind-name"
            class="mb-0.5 inline h-3.5 dark:hidden"
          /><Icon
            name="tailwind-name-dark"
            class="dark-logo mb-0.5 inline h-3.5"
          /></a
        >. Hosted on <a
          href="https://www.netlify.com"
          target="_blank"
          rel="noreferrer noopener nofollow"
          class="mx-1"
          title="Netlify"
          ><span class="sr-only">Netlify</span><Icon
            name="netlify-name"
            class="mb-0.5 inline h-7 dark:hidden"
          /><Icon
            name="netlify-name-dark"
            class="dark-logo mb-0.5 inline h-7"
          /></a
        >.
      </p>
    </div>
  </Fade>
</Layout>
