---
import { getEntry } from "astro:content";

import { SEO } from "astro-seo";

import Layout from "@/layouts/Layout.astro";

const page = await getEntry("pages", "colophon");
const { Content } = await page.render();

/*import { rawContent } from "@/content/pages/colophon_voice.md";

await fetch(`${Astro.url.origin}/api/voice`, {
  method: "POST",
  body: JSON.stringify({
    id: "colophon",
    textInput: rawContent(),
  }),
});*/

const ogImageUrl = new URL(
  `/api/og/?title=Colophon - tech and tools`,
  Astro.site,
);
---

<Layout title="Colophon - " voice>
  <Fragment slot="head">
    <SEO
      description="Colophon - tech and tools"
      openGraph={{
        basic: {
          title: `Colophon - Alex Nguyen - Web Developer`,
          type: "website",
          image: ogImageUrl.href,
        },
        optional: {
          description: "Colophon - tech and tools",
        },
      }}
    />
  </Fragment>
  <div class="prose max-w-2xl dark:prose-invert">
    <Content />
  </div>
</Layout>
