---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";

import Tool from "@/components/Tool.astro";

const tools = (await getCollection("tools")).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Layout>
  <section class="flex flex-col gap-10 py-28 sm:h-screen">
    <div class="m-auto flex flex-col gap-6">
      <Fade client:visible>
        <h1>Hi, I'm Alex.</h1>
      </Fade>

      <Fade client:visible delay={0.25}>
        <div class="flex max-w-xl flex-col gap-6">
          <div class="space-y-4">
            <h2>Some cool stuff I&apos;ve worked with..</h2>
            <ul class="space-y-2.5 sm:columns-2">
              {
                tools.map(({ slug, data: tool }) => (
                  <Tool name={tool.name} slug={slug} url={tool.url} />
                ))
              }
            </ul>
          </div>

          <h2>
            <a href="mailto:me@alexnguyen.co.nz" class="animated-link">
              Feel free to say hi. ✉
            </a>
          </h2>
        </div>
      </Fade>
    </div>
  </section>
</Layout>
