---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";

import Tool from "@/components/Tool.astro";
import Project from "@/components/Project.astro";

const tools = (await getCollection("tools")).sort(
  (a, b) => a.data.order - b.data.order,
);

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Layout>
  <Fade client:visible>
    <section class="flex flex-col gap-10 py-28 sm:h-screen">
      <div class="m-auto flex max-w-xl flex-col gap-10">
        <h1>Hi, I'm Alex.</h1>

        <div class="space-y-4">
          <h3>Some cool stuff I&apos;ve used:</h3>
          <ul class="space-y-3 sm:columns-2">
            {
              tools.map(({ slug, data: tool }) => (
                <Tool name={tool.name} slug={slug} url={tool.url} />
              ))
            }
          </ul>
        </div>

        <h3>
          <a href="mailto:me@alexnguyen.co.nz" class="contrast-link">
            Feel free to say hi <Icon
              pack="lucide"
              name="mail"
              class="h-6 w-6"
            />
          </a>
        </h3>
      </div>
    </section>
  </Fade>

  <section id="projects" class="flex flex-col gap-12 py-28">
    <div
      class="grid gap-10 text-left md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
    >
      {
        projects.map((project) => (
          <Fade client:visible>
            <Project project={project} />
          </Fade>
        ))
      }
    </div>
  </section>
</Layout>
