---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";
import Tool from "@/components/pages/home/Tool.astro";
import ProjectCard from "@/components/pages/home/ProjectCard.astro";

const tools = (await getCollection("tools")).sort(
  (a, b) => a.data.order - b.data.order,
);

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order,
);
---

<Layout>
  <Fade client:visible>
    <h1>Hi, I'm Alex.</h1>
  </Fade>

  <Fade client:visible>
    <div class="flex flex-col gap-6">
      <div class="space-y-4">
        <h2>Some cool things I've worked with</h2>
        <ul class="grid grid-cols-2 justify-center gap-6 sm:grid-cols-4">
          {
            tools.map(({ slug, data: tool }) => (
              <Tool name={tool.name} slug={slug} url={tool.url} />
            ))
          }
        </ul>
      </div>
    </div>
  </Fade>

  <Fade client:visible delay={0.25}>
    <h2 class="mt-6">Some of my projects</h2>
  </Fade>
  <div
    class="grid justify-center gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-10"
  >
    {
      projects.map((project) => (
        <Fade client:visible delay={0.25}>
          <ProjectCard project={project} />
        </Fade>
      ))
    }
  </div>
</Layout>
