---
import { getCollection } from "astro:content";

import { SEO } from "astro-seo";

import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/pages/home/ProjectCard.astro";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.order - b.data.order,
);

/*import { rawContent } from "@/content/pages/index.md";

import { POST } from "./api/voice.ts";

if (import.meta.env.PROD) {
  await fetch(`${Astro.url.origin}/api/voice`, {
    method: "POST",
    body: JSON.stringify({
      id: "index",
      textInput: rawContent(),
    }),
  });
}*/

const ogImageUrl = new URL(
  `/api/og/?title=Home of web developer Alex Nguyen`,
  Astro.site,
);
---

<Layout voice>
  <Fragment slot="head">
    <SEO
      description="Website of web developer Alex Nguyen"
      openGraph={{
        basic: {
          title: `Alex Nguyen - Web Developer`,
          type: "website",
          image: ogImageUrl.href,
        },
        optional: {
          description: "Website of web developer Alex Nguyen",
        },
      }}
    />
  </Fragment>

  <h1>Hi, I'm Alex.</h1>
  <p class="text-center">
    I'm a web developer. Currently I work as a freelancer.
  </p>

  <h2 class="mt-6">Some of my projects</h2>

  <div
    class="grid max-w-4xl justify-center gap-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8"
  >
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</Layout>
