---
import Layout from "@/layouts/Layout.astro";
import { Fade } from "@/components/Fade";

import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Button } from "@/components/ui/button";
---

<Layout title="Nonprofit Web Development -">
  <Fade client:visible><h1>Nonprofit Web Development</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div class="prose flex max-w-lg flex-col items-center dark:prose-invert">
      <p class="mb-0">
        I offer volunteer web development for charities and nonprofits.
      </p>

      <p class="mb-0">Please contact me if you're looking for:</p>
      <ul>
        <li>web or app development</li>
        <li>website maintenance or updates</li>
        <li>general web consulting</li>
      </ul>

      <form
        name="nonprofit"
        method="POST"
        data-netlify="true"
        class="flex w-full flex-col gap-4"
      >
        <div class="grid gap-4 sm:grid-cols-2">
          <div>
            <Label htmlFor="name" className="required">Name</Label>
            <Input type="text" id="name" name="name" required />
          </div>

          <div>
            <Label htmlFor="email" className="required">Email</Label>
            <Input type="email" id="email" name="email" required />
          </div>
        </div>

        <div>
          <Label htmlFor="organisation" className="required">
            Organisation
          </Label>
          <Input type="text" id="organisation" name="organisation" required />
        </div>

        <div>
          <Label htmlFor="message" className="required">Message</Label>
          <Textarea id="message" name="message" rows={4} required />
        </div>

        <Button type="submit" className="mt-1 self-start">Get in touch</Button>
      </form>
    </div>
  </Fade>
</Layout>
