---
import Layout from "@/layouts/Layout.astro";

import Input from "@/components/ui/Input.astro";
---

<Layout title="Search -">
  <h1>Search</h1>

  <div class="w-full max-w-xl">
    <Input type="text" id="search" name="search" required />
  </div>

  <div id="search-results" class="flex flex-col gap-3 text-left"></div>
</Layout>

<script>
  function getTitle(str: string) {
    const match = str.match(/^(.*?)\s-\s.*$/);
    return match ? match[1] : "";
  }

  import { getOramaDB, search } from "@orama/plugin-astro/client";
  const db = await getOramaDB("search");

  function initSearch() {
    const searchInput =
      document.querySelector<HTMLInputElement>("input#search");

    if (searchInput) {
      searchInput.addEventListener("input", async (e) => {
        if (e.target instanceof HTMLInputElement) {
          const results = await search(db, { term: e.target.value });

          const searchResults = document.querySelector("#search-results");

          searchResults!.innerHTML = "";

          for (const result of results.hits) {
            searchResults!.innerHTML += `
        <a href="${result.document.path}">
          ${getTitle(result.document.title as string)}
        </a>`;
          }
        }
      });
    }
  }

  initSearch();

  document.addEventListener("astro:after-swap", () => initSearch());
</script>
