---
import Layout from "@/layouts/Layout.astro";

import Input from "@/components/ui/Input.astro";

import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<Layout title="Search -">
  <h1 class="flex items-center gap-3">Search</h1>

  <div class="w-full max-w-xl">
    <Input
      type="text"
      id="search"
      name="search"
      placeholder="Search"
      required
    />
  </div>

  <div id="no-of-results" class="text-sm font-semibold"></div>

  <astro-search data-posts={JSON.stringify(posts)}></astro-search>
  <div id="search-results" class="flex flex-col gap-3"></div>
</Layout>

<script>
  import { create, insertMultiple, removeMultiple, search } from "@orama/orama";

  const db = await create({
    schema: {
      id: "string",
      slug: "string",
      body: "string",
      collection: "string",
      data: {
        title: "string",
        tags: {
          slug: "string",
          collection: "string",
        },
        description: "string",
        published: "boolean",
      },
    },
  });

  class AstroSearch extends HTMLElement {
    constructor() {
      super();

      const posts = JSON.parse(this.dataset.posts!);

      insertMultiple(db, posts);

      const searchInput =
        document.querySelector<HTMLInputElement>("input#search");

      searchInput?.addEventListener("input", async (e) => {
        if (e.target instanceof HTMLInputElement) {
          const searchResults = document.querySelector("#search-results");
          const noOfResults = document.querySelector("#no-of-results");

          if (e.target.value.length > 2) {
            const results = await search(db, {
              term: e.target.value,
            });

            const hits: any = results.hits;

            searchResults!.innerHTML = "";
            noOfResults!.innerHTML = `${results.count} results`;

            for (const result of hits) {
              searchResults!.innerHTML += `
                <a href="/blog/${result.document.slug}">
                  ${result.document.data.title}
                </a>`;
            }
          } else {
            searchResults!.innerHTML = "";
            noOfResults!.innerHTML = "";
          }
        }
      });
    }
  }

  customElements.define("astro-search", AstroSearch);
</script>
