---
import { Icon } from "astro-icon/components";

import { SEO } from "astro-seo";

import Layout from "@/layouts/Layout.astro";

import Label from "@/components/ui/Label.astro";
import Input from "@/components/ui/Input.astro";
import Textarea from "@/components/ui/Textarea.astro";
import Button from "@/components/ui/Button.astro";
import ReactIcon from "@/components/ReactIcon.astro";

/*import { rawContent } from "@/content/pages/services.md";

if (import.meta.env.PROD) {
  await fetch(`${Astro.url.origin}/api/voice`, {
    method: "POST",
    body: JSON.stringify({
      id: "services",
      textInput: rawContent(),
    }),
  });
}*/

const ogImageUrl = new URL(
  `/api/og/?title=Services of web developer Alex Nguyen`,
  Astro.site,
);
---

<Layout title="Services -" voice>
  <Fragment slot="head">
    <SEO
      description="Services of web developer Alex Nguyen"
      openGraph={{
        basic: {
          title: `Services - Alex Nguyen - Web Developer`,
          type: "website",
          image: ogImageUrl.href,
        },
        optional: {
          description: "Services of web developer Alex Nguyen",
        },
      }}
    />
  </Fragment>
  <h1>Services</h1>

  <div class="prose max-w-2xl dark:prose-invert">
    <p>
      I'm a freelance web developer with mainly experience in frontend and some
      exposure to backend tech.
    </p>

    <h2 class="text-center text-base">Some cool things I've worked with</h2>

    <div class="flex flex-wrap items-center justify-center gap-4">
      <a
        href="https://react.dev"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="React"><span class="sr-only">React</span><ReactIcon /></a
      >

      <a
        href="https://nextjs.org"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Next.js"
        ><span class="sr-only">Next.js</span><Icon
          name="nextjs-name"
          class="h-4 w-auto dark:hidden"
        /><Icon
          name="nextjs-name-dark"
          class="hidden h-4 w-auto dark:block"
        /></a
      >

      <a
        href="https://astro.build"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Astro"
        ><span class="sr-only">Astro</span><Icon
          name="astro-name"
          class="h-8 w-auto dark:hidden"
        /><Icon
          name="astro-name-dark"
          class="hidden h-8 w-auto dark:block"
        /></a
      >

      <a
        href="https://vuejs.org"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Vue.js"
        ><span class="sr-only">Vue.js</span><Icon
          name="vue"
          class="h-4 w-auto"
        /></a
      >

      <a
        href="https://nuxt.com"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Nuxt"
        ><span class="sr-only">Nuxt</span><Icon
          name="nuxt-name"
          class="h-4 w-auto dark:hidden"
        /><Icon name="nuxt-name-dark" class="hidden h-4 w-auto dark:block" /></a
      >

      <a
        href="https://svelte.dev"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Svelte"
        ><span class="sr-only">Svelte</span><Icon
          name="svelte-name"
          class="h-6 w-auto dark:hidden"
        /><Icon name="sveltekit" class="hidden h-6 w-auto dark:block" /></a
      >

      <a
        href="https://tailwindcss.com"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Tailwind CSS"
        ><span class="sr-only">Tailwind CSS</span><Icon
          name="tailwind-name"
          class="h-4 w-auto dark:hidden"
        /><Icon
          name="tailwind-name-dark"
          class="hidden h-4 w-auto dark:block"
        /></a
      >

      <a
        href="https://nodejs.org"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Node.js"
        ><span class="sr-only">Node.js</span><Icon
          name="nodejs"
          class="h-5 w-auto dark:hidden"
        /><Icon name="nodejs-dark" class="hidden h-5 w-auto dark:block" /></a
      >
      <a
        href="https://supabase.com"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Supabase"
        ><span class="sr-only">Supabase</span><Icon
          name="supabase-name"
          class="h-5 w-auto dark:hidden"
        /><Icon
          name="supabase-name-dark"
          class="hidden h-5 w-auto dark:block"
        /></a
      >
      <a
        href="https://www.netlify.com"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Netlify"
        ><span class="sr-only">Netlify</span><Icon
          name="netlify-name"
          class="h-9 w-auto dark:hidden"
        /><Icon
          name="netlify-name-dark"
          class="hidden h-9 w-auto dark:block"
        /></a
      >
      <a
        href="https://vercel.com"
        target="_blank"
        rel="noreferrer noopener nofollow"
        title="Vercel"
        ><span class="sr-only">Vercel</span><Icon
          name="vercel-name"
          class="h-4 w-auto dark:hidden"
        /><Icon
          name="vercel-name-dark"
          class="hidden h-4 w-auto dark:block"
        /></a
      >
    </div>

    <p>
      I'm currently taking on new projects, and I'm interested in developer
      roles (local or remote). Feel free to <a href="mailto:me@alexnguyen.co.nz"
        >contact me <span>✉</span></a
      > about any projects or opportunities.
    </p>

    <p>I also offer volunteer web development for charities and nonprofits.</p>

    <p class="text-center">Please contact me if you're looking for:</p>

    <div class="flex max-w-xl flex-col items-center">
      <ul class="mt-0 self-center">
        <li>web or app development</li>
        <li>web consulting</li>
      </ul>
    </div>

    <form
      name="contact"
      method="POST"
      data-netlify="true"
      class="mx-auto flex w-full max-w-lg flex-col gap-4"
      data-astro-reload
    >
      <div class="grid gap-4 sm:grid-cols-2">
        <div>
          <Label htmlFor="name" className="required">Name</Label>
          <Input
            type="text"
            id="name"
            name="name"
            data-testid="name-input"
            required
          />
        </div>

        <div>
          <Label htmlFor="email" className="required">Email</Label>
          <Input
            type="email"
            id="email"
            name="email"
            data-testid="email-input"
            required
          />
        </div>
      </div>

      <div>
        <Label htmlFor="message" className="required">Message</Label>
        <Textarea
          id="message"
          name="message"
          rows={4}
          data-testid="message-textarea"
          required
        />
      </div>

      <Button
        type="submit"
        className="mt-1 self-start"
        data-testid="submit-button"
      >
        Get in touch
      </Button>
    </form>
  </div>
</Layout>

<style>
  label.required:after {
    @apply font-bold text-red-500;
    content: " *";
  }
</style>
