---
import { Image } from "astro:assets";

import MobileMenu from "./MobileMenu.astro";

import { cn } from "@/lib/utils";
import { links } from "@/lib/data";

const pathname = Astro.url.pathname;
---

<header
  transition:name="header"
  class="fixed left-1/2 top-6 z-10 -translate-x-1/2"
>
  <div
    id="navbar"
    class="relative z-50 mx-auto flex hidden items-center justify-center gap-6 rounded-3xl border border-b-0 border-slate-200 bg-white px-5 py-3 shadow-md dark:border-slate-800 dark:bg-cyan-950 sm:py-2"
  >
    <a href="/" class="w-[40px]"
      ><span class="sr-only">home page</span>
      <Image src={import("../../assets/img/logo.png")} alt="logo" />
    </a>

    <nav data-testid="header-nav" class="hidden sm:block">
      <ul class="flex items-center gap-2">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class={cn(
                  "group relative inline-flex p-1.5 font-medium tracking-tight text-slate-700 transition dark:text-slate-100",
                )}
              >
                {link.name}

                <span
                  class={cn(
                    "absolute bottom-0 left-0 right-0 mx-auto hidden h-1 w-1 animate-[bounce_0.75s_forwards] rounded-full bg-slate-700 group-hover:block dark:bg-slate-100",
                    link.href === "/"
                      ? pathname === "/" && "block"
                      : pathname.startsWith(link.href) && "block",
                  )}
                />

                {link.href === "/"
                  ? pathname === "/" && (
                      <span
                        class="absolute bottom-0 left-0 right-0 mx-auto h-2 w-2 animate-[bounce_0.75s_forwards] rounded-full bg-slate-700 dark:bg-slate-100"
                        transition:name="active-link"
                      />
                    )
                  : pathname.startsWith(link.href) && (
                      <span
                        class="absolute bottom-0 left-0 right-0 mx-auto h-2 w-2 animate-[bounce_0.75s_forwards] rounded-full bg-slate-700 dark:bg-slate-100"
                        transition:name="active-link"
                      />
                    )}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>

    <MobileMenu pathname={pathname} />
  </div>
</header>

<style>
  @keyframes fade-header {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @media (min-width: 640px) {
    @keyframes animate-header {
      0% {
        width: 0;
        opacity: 0;
      }
      100% {
        width: 100%;
        opacity: 100;
      }
    }
  }

  @keyframes bounce {
    0% {
      scale: 50%;
    }
    50% {
      scale: 135%;
    }
    100% {
      scale: 100%;
      opacity: 100%;
    }
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }
</style>

<script>
  document.addEventListener(
    "astro:page-load",
    () => {
      const navbar = document.getElementById("navbar");
      if (navbar) {
        navbar.classList.remove("hidden");
        navbar.style.animation = "animate-header 0.5s 0s forwards";
      }

      const headerNav = document.querySelector("nav");
      if (headerNav) {
        headerNav.classList.add("opacity-0");
        headerNav.style.animation = "fade-header 0.75s 0.25s forwards";
      }

      const headerImage = document.querySelector("img");
      if (headerImage) {
        headerImage.classList.add("opacity-0");
        headerImage.style.animation = "bounce 0.5s 0.25s forwards";
      }
    },
    { once: true },
  );
</script>
