---
---

<div class="relative">
  <svg
    width="100%"
    height="100%"
    id="svg"
    viewBox="0 0 1440 390"
    xmlns="http://www.w3.org/2000/svg"
    class="z-20 rounded-3xl transition delay-150 duration-300 ease-in-out"
    ><path
      d="M 0,400 C 0,400 0,200 0,200 C 117.69377990430621,173.63636363636363 235.38755980861242,147.27272727272728 327,169 C 418.6124401913876,190.72727272727272 484.1435406698564,260.54545454545456 574,244 C 663.8564593301436,227.45454545454544 778.0382775119617,124.54545454545453 876,128 C 973.9617224880383,131.45454545454547 1055.7033492822966,241.2727272727273 1147,271 C 1238.2966507177034,300.7272727272727 1339.1483253588517,250.36363636363635 1440,200 C 1440,200 1440,400 1440,400 Z"
      stroke="none"
      stroke-width="0"
      fill="#a5f3fc"
      fill-opacity="1"
      class="path transition-all delay-150 duration-300 ease-in-out"
    ></path></svg
  >
  <canvas
    id="logo-canvas"
    width="150"
    height="80"
    class="absolute left-0 right-0 top-3 mx-auto h-auto w-1/2"></canvas>
</div>

<style>
  .path {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 117.69377990430621,173.63636363636363 235.38755980861242,147.27272727272728 327,169 C 418.6124401913876,190.72727272727272 484.1435406698564,260.54545454545456 574,244 C 663.8564593301436,227.45454545454544 778.0382775119617,124.54545454545453 876,128 C 973.9617224880383,131.45454545454547 1055.7033492822966,241.2727272727273 1147,271 C 1238.2966507177034,300.7272727272727 1339.1483253588517,250.36363636363635 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    25% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 80.98564593301438,189.7224880382775 161.97129186602876,179.44497607655504 261,170 C 360.02870813397124,160.55502392344496 477.1004784688995,151.9425837320574 569,184 C 660.8995215311005,216.0574162679426 727.6267942583731,288.78468899521533 826,273 C 924.3732057416269,257.21531100478467 1054.3923444976076,152.91866028708134 1162,126 C 1269.6076555023924,99.08133971291866 1354.8038277511962,149.54066985645932 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    50% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 106.8133971291866,216.23923444976077 213.6267942583732,232.47846889952157 305,237 C 396.3732057416268,241.52153110047843 472.3062200956938,234.3253588516746 550,245 C 627.6937799043062,255.6746411483254 707.1483253588518,284.2200956937799 817,271 C 926.8516746411482,257.7799043062201 1067.1004784688994,202.79425837320576 1176,184 C 1284.8995215311006,165.20574162679424 1362.4497607655503,182.60287081339712 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    75% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 118.20095693779902,163.1196172248804 236.40191387559804,126.23923444976077 323,145 C 409.59808612440196,163.76076555023923 464.5933014354067,238.16267942583733 563,256 C 661.4066985645933,273.8373205741627 803.2248803827752,235.11004784688996 906,226 C 1008.7751196172248,216.88995215311004 1072.5071770334928,237.39712918660288 1155,238 C 1237.4928229665072,238.60287081339712 1338.7464114832537,219.30143540669854 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    100% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 117.69377990430621,173.63636363636363 235.38755980861242,147.27272727272728 327,169 C 418.6124401913876,190.72727272727272 484.1435406698564,260.54545454545456 574,244 C 663.8564593301436,227.45454545454544 778.0382775119617,124.54545454545453 876,128 C 973.9617224880383,131.45454545454547 1055.7033492822966,241.2727272727273 1147,271 C 1238.2966507177034,300.7272727272727 1339.1483253588517,250.36363636363635 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
  }
</style>

<script>
  import Zdog from "zdog";

  const logo = new Zdog.Illustration({
    element: "#logo-canvas",
    zoom: 1,
    dragRotate: true,
  });

  const logoGroup = new Zdog.Group({
    addTo: logo,
    translate: { z: 20 },
  });

  // outer triangle
  new Zdog.Shape({
    addTo: logoGroup,
    path: [
      { x: -50, y: 20 },
      { x: 45, y: -40 },
      { x: 40, y: 20 },
    ],
    fill: true,
    stroke: false,
    color: "black",
  });

  // inner triangle
  new Zdog.Shape({
    addTo: logoGroup,
    path: [
      { x: 25, y: -20 },
      { x: 20, y: 20 },
      { x: -40, y: 20 },
    ],
    fill: true,
    stroke: false,
    color: "#ED1F24",
  });

  const cycleCount = 500;
  let ticker = 0;

  function animate() {
    const progress = ticker / cycleCount;
    const tween = Zdog.easeInOut(progress % 1, 10); // apply easing to rotation

    logo.rotate.x = 0; // lock x rotation
    logo.rotate.y = tween * Zdog.TAU;

    ticker++;

    logo.updateRenderGraph();
    requestAnimationFrame(animate);
  }

  animate();
</script>
