---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import { Tooltip } from "@/components/Tooltip";

const { name, slug, url } = Astro.props;
---

<Tooltip client:visible title={name}>
  <a
    href={url}
    target="_blank"
    rel="noreferrer noopener nofollow"
    aria-label={name}
  >
    <Icon name={slug} class="h-8 w-auto fill-[#034AD8]" />
  </a>
</Tooltip>
