---
import { Icon } from "astro-icon/components";

const lastUpdated = new Date();
---

<astro-updated data-lastupdated={lastUpdated} transition:persist>
  <span data-testid="updated"
    ><Icon name="lucide:hammer" class="inline size-5" />
  </span>
</astro-updated>

<script>
  import dayjs from "dayjs";
  import relativeTime from "dayjs/plugin/relativeTime";
  dayjs.extend(relativeTime);

  class Updated extends HTMLElement {
    constructor() {
      super();

      this.querySelector("span")!.innerHTML +=
        `Updated ${dayjs().to(dayjs(this.dataset.lastupdated))}`;
    }
  }

  customElements.define("astro-updated", Updated);
</script>
