---
import { Icon } from "astro-icon";
import { Tooltip } from "@/components/Tooltip";
---

<footer class="relative z-10 my-10 mt-auto flex flex-col justify-center">
  <div class="mt-auto flex justify-center gap-5">
    <Tooltip client:visible title="Get in touch">
      <a
        href="mailto:me@alexnguyen.co.nz"
        aria-label="Alex Nguyen's email address"
      >
        <Icon pack="tabler" name="mailbox" class="h-8 w-8" />
      </a>
    </Tooltip>
    <Tooltip client:visible title="My GitHub">
      <a
        href="https://github.com/alexnguyennz"
        target="_blank"
        rel="noopener"
        aria-label="Alex Nguyen's GitHub page"
      >
        <Icon pack="tabler" name="brand-github" class="h-8 w-8" />
      </a>
    </Tooltip>
  </div>
</footer>
