---
import { Icon } from "astro-icon";
---

<footer class="my-10 mt-auto flex items-center justify-center gap-6">
  <a href="mailto:me@alexnguyen.co.nz" aria-label="Alex Nguyen's email">
    <Icon pack="lucide" name="mail" class="h-5 w-5" title="My email" />
  </a>

  <a
    href="https://www.linkedin.com/in/anguyennz/"
    target="_blank"
    rel="noopener"
    aria-label="Alex Nguyen's LinkedIn"
  >
    <Icon
      pack="tabler"
      name="brand-linkedin"
      class="h-6 w-6"
      title="My LinkedIn"
    />
  </a>

  <a
    href="https://github.com/alexnguyennz"
    target="_blank"
    rel="noopener"
    aria-label="Alex Nguyen's GitHub"
  >
    <Icon pack="lucide" name="github" class="h-5 w-5" title="My GitHub" />
  </a>
</footer>
