---
import { Icon } from "astro-icon";
---

<footer
  class="bottom-0 z-10 my-10 mt-auto flex w-full flex-col justify-center sm:fixed"
>
  <div class="mx-auto flex justify-center gap-6">
    <a
      href="mailto:me@alexnguyen.co.nz"
      aria-label="Alex Nguyen's email address"
    >
      <Icon pack="lucide" name="mail" class="h-5 w-5" />
    </a>

    <a
      href="https://github.com/alexnguyennz"
      target="_blank"
      rel="noopener"
      aria-label="Alex Nguyen's GitHub page"
    >
      <Icon pack="lucide" name="github" class="h-5 w-5" />
    </a>
  </div>
</footer>
