---
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

import { cn } from "@/lib/utils";

const links = [
  {
    name: "Home",
    href: "/",
  },
  /*  {
    name: "Blog",
    href: "/blog",
  },*/
  {
    name: "Nonprofit",
    href: "/nonprofit",
  },
  {
    name: "About",
    href: "/about",
  },
];

const pathname = new URL(Astro.request.url).pathname;
---

<header class="fixed left-1/2 top-6 z-20 -translate-x-1/2 px-5 sm:w-full">
  <div
    class="container mx-auto flex max-w-[396px] items-center justify-center gap-6 rounded-3xl bg-cyan-100 p-3.5 shadow-xl sm:gap-3"
  >
    <a href="/" class="shrink-0"
      ><Image
        src="/logo.png"
        width="64"
        height="41"
        alt="logo"
        class="mx-auto h-auto w-[40px]"
        fetchpriority="high"
        loading="eager"
      /></a
    >

    <button
      id="mobile-toggle"
      class="sm:hidden"
      aria-label="toggle mobile menu"
    >
      <Icon pack="lucide" name="menu" class="h-6 w-6 text-cyan-900" /></button
    >

    <nav class="hidden sm:block">
      <ul class="flex items-center gap-1.5">
        {
          links.map((link) => (
            <li>
              <a
                href={link.href}
                class={cn(
                  link.href === "/"
                    ? pathname === "/" && "active"
                    : pathname.startsWith(link.href) && "active",
                )}
                data-astro-prefetch
              >
                {link.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>

  <nav
    id="mobile-menu"
    class="absolute left-0 mt-2 hidden w-full rounded-3xl bg-cyan-100 p-3.5 shadow-xl sm:hidden"
  >
    <ul class="flex flex-col items-center gap-2">
      {
        links.map((link) => (
          <li>
            <a
              href={link.href}
              class={cn(
                link.href === "/"
                  ? pathname === "/" && "active"
                  : pathname.startsWith(link.href) && "active",
              )}
              data-astro-prefetch
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  #mobile-menu li {
    @apply w-full text-center;
  }

  #mobile-menu a {
    @apply block;
  }
</style>

<script define:vars={{ pathname }}>
  const mobileToggle = document.getElementById("mobile-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  function initMobileMenu() {
    mobileToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
  }

  initMobileMenu();

  document.addEventListener("astro:after-swap", () =>
    mobileToggle.addEventListener("click", () => initMobileMenu),
  );

  document.addEventListener("astro:before-preparation", () => {
    mobileMenu.classList.add("hidden");
  });
</script>
