---
import "@/styles/globals.css";

import { ViewTransitions } from "astro:transitions";

import Header from "@/layouts/Header.astro";
import Footer from "@/layouts/Footer.astro";
import Logo from "@/components/Logo.astro";

import Waves from "./Waves.astro";
import Ground from "./Ground.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio and projects of web developer Alex Nguyen"
    />
    <meta name="keywords" content="web, development, portfolio, projects" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} Alex Nguyen</title>

    <link
      rel="preload"
      href="/fonts/jost-latin-400-normal.woff2"
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ff.woff2"
      as="font"
      type="font/woff2"
      crossOrigin="anonymous"
    />

    <ViewTransitions fallback="swap" />
  </head>
  <body class="relative flex min-h-screen flex-col">
    <Waves />

    <Header />

    <main class="container z-10 mx-auto px-5">
      <slot />
    </main>

    <Footer />

    <Ground />
  </body>
</html>
