---
import Layout from "./Layout.astro";
import TableOfContents from "@/components/posts/TableOfContents.astro";

import { Fade } from "@/components/Fade";

const { frontmatter, headings } = Astro.props;
---

<Layout title={`${frontmatter.title} - `}>
  <Fade client:visible><h1>{frontmatter.title}</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div class="prose">
      <div class="flex flex-col md:flex-row md:items-start">
        <article class="flex-1">
          <slot />
        </article>

        <TableOfContents headings={headings} />
      </div>
    </div>
  </Fade>
</Layout>
