---
import Layout from "./Layout.astro";
import TableOfContents from "@/components/posts/TableOfContents.astro";

import { Fade } from "@/components/Fade";

const { frontmatter, headings } = Astro.props;
---

<Layout title={`${frontmatter.title} - `}>
  <Fade client:visible><h1>{frontmatter.title}</h1></Fade>

  <Fade client:visible delay={0.25}>
    <div class="prose">
      <p>
        Some findings or quirks I've noticed when using <a
          href="https://astro.build"
          target="_blank"
          rel="noreferrer noopener nofollow">Astro <span>↗</span></a
        > (at least 3.6.0). These may be things I've missed in the
        documentation, something I've done incorrectly (very likely), or an
        actual issue/bug (less likely).
      </p>

      <div class="flex flex-col md:flex-row md:items-start">
        <article class="flex-1">
          <slot />
        </article>

        <!-- Credit to Kevin Drum https://kld.dev/toc-animation/ and Hakim El Hattab https://lab.hakim.se/progress-nav/ for the table of contents -->
        <TableOfContents headings={headings} />
      </div>
    </div>
  </Fade>
</Layout>
