<div class="absolute w-full md:-top-20 lg:-top-32 xl:-top-40 2xl:-top-48">
  <svg
    width="100%"
    height="100%"
    id="svg"
    viewBox="0 0 1440 390"
    xmlns="http://www.w3.org/2000/svg"
    class="transition delay-150 duration-300 ease-in-out"
    ><path
      d="M 0,400 C 0,400 0,200 0,200 C 84.6794258373206,183.67464114832535 169.3588516746412,167.34928229665073 279,180 C 388.6411483253588,192.65071770334927 523.244019138756,234.2775119617225 624,224 C 724.755980861244,213.7224880382775 791.665071770335,151.54066985645932 879,125 C 966.334928229665,98.45933014354068 1074.0956937799042,107.55980861244021 1171,126 C 1267.9043062200958,144.4401913875598 1353.952153110048,172.2200956937799 1440,200 C 1440,200 1440,400 1440,400 Z"
      stroke="none"
      stroke-width="0"
      fill="#fed7aa"
      fill-opacity="1"
      class="transition-all delay-150 duration-300 ease-in-out"
      transform="rotate(-180 720 200)"></path></svg
  >
</div>

<style>
  path {
    animation: pathAnim-0 4s linear infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 84.6794258373206,183.67464114832535 169.3588516746412,167.34928229665073 279,180 C 388.6411483253588,192.65071770334927 523.244019138756,234.2775119617225 624,224 C 724.755980861244,213.7224880382775 791.665071770335,151.54066985645932 879,125 C 966.334928229665,98.45933014354068 1074.0956937799042,107.55980861244021 1171,126 C 1267.9043062200958,144.4401913875598 1353.952153110048,172.2200956937799 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    25% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 97.57894736842107,226.04784688995215 195.15789473684214,252.09569377990428 293,250 C 390.84210526315786,247.90430622009572 488.9473684210526,217.66507177033498 580,191 C 671.0526315789474,164.33492822966502 755.0526315789473,141.24401913875596 863,158 C 970.9473684210527,174.75598086124404 1102.842105263158,231.3588516746412 1203,245 C 1303.157894736842,258.6411483253588 1371.578947368421,229.3205741626794 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    50% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 90.50717703349281,180.2488038277512 181.01435406698562,160.49760765550238 292,147 C 402.9856459330144,133.50239234449762 534.4497607655502,126.25837320574163 627,138 C 719.5502392344498,149.74162679425837 773.1866028708134,180.46889952153109 848,205 C 922.8133971291866,229.53110047846891 1018.8038277511962,247.866028708134 1121,246 C 1223.1961722488038,244.133971291866 1331.598086124402,222.06698564593302 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    75% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 66.00956937799043,221.1866028708134 132.01913875598086,242.3732057416268 238,227 C 343.98086124401914,211.6267942583732 489.93301435406704,159.69377990430624 610,146 C 730.066985645933,132.30622009569376 824.2488038277512,156.85167464114832 908,168 C 991.7511961722488,179.14832535885168 1065.0717703349283,176.89952153110048 1152,180 C 1238.9282296650717,183.10047846889952 1339.4641148325359,191.55023923444975 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
    100% {
      d: path(
        "M 0,400 C 0,400 0,200 0,200 C 84.6794258373206,183.67464114832535 169.3588516746412,167.34928229665073 279,180 C 388.6411483253588,192.65071770334927 523.244019138756,234.2775119617225 624,224 C 724.755980861244,213.7224880382775 791.665071770335,151.54066985645932 879,125 C 966.334928229665,98.45933014354068 1074.0956937799042,107.55980861244021 1171,126 C 1267.9043062200958,144.4401913875598 1353.952153110048,172.2200956937799 1440,200 C 1440,200 1440,400 1440,400 Z"
      );
    }
  }
</style>
