/* main a {
    /* color: rgba(4, 144, 209, 0.959); 
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    main p, main li {
        @apply text-lg;
    }

    a:hover {
        @apply underline;
    }

    main a {
        @apply  font-semibold;
    }

    body {
        @apply dark:bg-gray-800 overflow-y-scroll;
        @apply tracking-tight;
    }

    .active {
        @apply underline;
    }

    ::selection {
        @apply  dark:bg-gray-600;
    }

    label {
        cursor: pointer;
    }

    p {
        @apply mt-2 mb-2;
    }

    main ul {
        @apply list-disc;
    }
    
}


@layer components {
    .navigation-underline {
        @apply w-full border border-yellow-300;
        @apply bg-white;
        @apply text-blue-200;
    }

    header nav li a {
        @apply text-white;
        @apply transition duration-200;
    }

    .active-link a {
        @apply bg-white;
        @apply text-gray-600;
    }

    header nav li:hover a {
        @apply bg-gray-700;
    }

    .active-link:hover a {
        @apply bg-white;
    }

    main ul li {
        @apply ml-5;
    }

}

body {
    font-family: Hack, monospace, ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

/* header h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
} */



form span {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    0%    {opacity: 0;}
    100%  {opacity: 1;}
}



